.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .controls-container {
        display: flex;
        flex-direction: column;
        width: 50vw;
        align-items: center;
        .file-input {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    }
    .drag-drop-area {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        cursor: pointer;
      }
      
      .drag-drop-area:hover {
        background-color: #f0f0f0;
      }
}